[Unit]
Description=DaughterBoard Qualification Service
After=network.target

[Service]
User=root
ExecStart=/bin/bash /root/atlas_lab_scripts/data_analyzer/DaughterBoardQual.sh
WorkingDirectory=/root/atlas_lab_scripts/data_analyzer
StandardOutput=append:/root/atlas_lab_scripts/data_analyzer/DBQ.log
StandardError=append:/root/atlas_lab_scripts/data_analyzer/DBQ.log

[Install]
WantedBy=multi-user.target
